.hero .hero__title {
  color: #fff;
  font-size: 36px;
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
}

.primary-separator {
  background-color: #f4623a;
  border: none;
  height: 3px;
  width: 50px;
}

.hero .hero__paragraph {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 50px;
  opacity: 0.7;
  padding: 0 70px;
  padding: 0;
  text-align: center;
}

.hero {
  background-image: url('../img/bg-masthead.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding: 100px 20px 0;
}

.btn-primary {
  background-color: #f4623a;
  border-radius: 35px;
  border: none;
  color: #fff;
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin: 0 auto;
  padding: 20px 35px;
  text-transform: uppercase;
}

body {
  font-family: 'Merriweather Sans';
}

.introduction {
  background-color: #f4623a;
  padding: 100px 20px;
}

.introduction .introduction__title {
  color: #fff;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

.introduction hr {
  background-color: #fff;
  border: none;
  height: 3px;
  width: 50px;
}

.introduction .introduction__paragraph {
  color: #fff;
  font-weight: 300;
  line-height: 1.4;
  opacity: 0.7;
  text-align: center;
}

.btn-secondary {
  background-color: #fff;
  border-radius: 35px;
  border: none;
  display: block;
  font-weight: 600;
  margin: 0 auto;
  padding: 20px 30px;
  text-transform: uppercase;
}

.characteristics {
  text-align: center;
}

.characteristics__item i {
  color: #f4623a;
}

.characteristics__item {
  margin-top: 60px;
}


.characteristics__item-title {
  font-weight: 400;
}

.characteristics__item-paragraph {
  opacity: 0.7;
  padding: 0 20px;
}

@media only screen and (min-width: 800px) {
  .hero {
    padding: 100px 140px;
  }

  .hero .hero__title {
    font-size: 50px;
  }

  .hero .hero__paragraph {
    font-size: 20px;
    padding: 0 70px;
  }

  .introduction .introduction__paragraph {
    padding: 0 190px;
  }

  .characteristics__container {
    display: flex;
    flex-wrap: wrap;
  }

  .characteristics__item {
    flex: 0 0 50%;
  }
}

@media only screen and (min-width: 1200px) {
  .characteristics__item {
    flex: 0 0 25%;
  }
}
